.cube-loader {
    position: relative;
    width: 75px;
    height: 75px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
    background: linear-gradient(to bottom,
        hsl(60, 100%, 25.1%) 0%,
        hsl(60, 100%, 32.06%) 5.5%,
        hsl(60, 100%, 36.88%) 12.1%,
        hsl(60, 100%, 40.7%) 19.6%,
        hsl(60, 100%, 43.88%) 27.9%,
        hsl(60, 100%, 46.58%) 36.6%,
        hsl(60, 100%, 48.91%) 45.6%,
        hsl(60, 100%, 50.91%) 54.6%,
        hsl(60, 100%, 52.62%) 63.4%,
        hsl(60, 100%, 54.08%) 71.7%,
        hsl(60, 100%, 55.29%) 79.4%,
        hsl(60, 100%, 56.28%) 86.2%,
        hsl(60, 100%, 57.04%) 91.9%,
        hsl(60, 100%, 57.59%) 96.3%,
        hsl(60, 100%, 57.93%) 99%,
        hsl(60, 100%, 58.04%) 100%);
}

.cube-top {
    position: absolute;
    width: 75px;
    height: 75px;
    background: hsl(320, 2%, 24%) 0%;
    transform: rotateX(90deg) translateZ(37.5px);
    transform-style: preserve-3d;
}

.cube-top::before {
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    background: hsl(0, 0%, 0%) 19.6%;
    transform: translateZ(-90px);
    filter: blur(10px);
    box-shadow: 0 0 10px #323232,
        0 0 20px hsl(63, 42%, 41%) 19.6%,
        0 0 30px #323232,
        0 0 40px hsl(70, 42%, 41%) 19.6%;
}
